@import "../../styles/variables.module";
.Button {
  margin-right: 10px;
  padding: 4px 8px;
  color: $pink;
  border: 1px solid $pink;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10px;
  &:hover {
    background-color: $pink;
    color: $white-background-color;
  }
}

.Active {
  background-color: $pink;
  color: $white-background-color;
}
