$background-color: #707070;
$buttonColor: #fd8ade;
$items-text-color: #3b3b3b;
$white-background-color: #f4f4f4;
$light-grey: #c6c6c6;
$item-font-size: 400px;
$medium-font-size: 600px;
$large-font-size: 700px;
