@import "../../styles/_variables.module.scss";
.AddTask {
  border-bottom: 2px solid $background-color;
  padding-bottom: 15px;
}

.taskInput {
  width: 100%;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  border: 0;
  background-color: transparent;
  padding: 0 16.5px;
  box-sizing: border-box;
}

::placeholder {
  color: $light-grey;
}
