@import "./styles/variables.module.scss";

.App {
  display: block;
  // margin: auto;
  background-color: $white-background-color;
  border-radius: 5px;
  width: 365px;
  position: absolute;
  top: 35vh;
  left: 35%;
  padding: 20px 0;
}
